@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


@import "tailwindcss";


@theme
{
    --font-space: "Space Grotesk", sans-serif;

    --color-primary: #F0A2A5;
    --color-background: #FFDEE0;
    --color-text: #FFFFFF;

}

/* Ant Design Input placeholder font */
.ant-input::placeholder,
.ant-input-password input::placeholder {
    font-family: "Space Grotesk", sans-serif;
}


